@mixin no-select {
  user-select: none;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin cropped-image($width, $height, $border-radius, $max-width: 200px, $max-height: 200px) {
  display: flex;
  justify-content: center;
  padding: 0;

  .cropped-icon {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    height: $height;
    justify-content: left;
    max-height: $max-height;
    overflow: hidden;
    position: relative;
    width: $width;

    .icon {
      height: $height;
      max-height: $max-height;
      max-width: $max-width;
      object-fit: cover;
      object-position: top;
      padding: 0;
      width: $width;
    }
  }

  .hover-action {
    align-items: center;
    background: transparent;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.25s linear, background 0.25s linear;
    width: 100%;

    &:hover {
      background: $color-bg-modal;
      display: flex;
      opacity: 1;
    }
  }
}
