@import "variables.module.scss";

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}


.input-wrapper,
.input,
.inner-input {
  background: 0;
  font-size: 16px;
  height: 50px;
  min-height: 50px;
  text-align: center;
  width: 100%;

  input {
    padding-inline: 30px;
  }
}

.input {
  border: 1px solid var(--border);
  border-radius: 5px;
}

.input-visibility-toggle {
  * {
    color: var(--accent);
    opacity: 0.75;
  }
}

.copy-button {
  transition: opacity 0.5s ease;

  &--active {
    opacity: 0.5;
  }
}

.icon {
  height: 20px;
  object-fit: contain;
  width: 20px;
}

.icon-button {
  color: var(--text-secondary);
  height: 20px;
  transition: opacity 0.25s ease;
  width: 20px;

  &:disabled {
    opacity: 0.5;
  }
}

.message {
  color: var(--accent);
}

.error {
  color: var(--error);
}
