@import "~elv-components-js/src/stylesheets/mixins";
@import "~elv-components-js/src/stylesheets/variables/colors";
@import "~elv-components-js/src/stylesheets/variables/spacing";

.accounts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account {
  position: relative;
  display: flex;
  width: 800px;
  border: 1px solid $elv-color-lightgray;
  padding: $elv-spacing-xs $elv-spacing-s;

  &:not(.current-account) {
    background: $elv-color-lightergray;
  }

  &:not(:last-child) {
    border-bottom: 0;
  }
}

.account-lock-icon {
  position: absolute;
  top: $elv-spacing-xs;
  left: $elv-spacing-xxs;
  height: 20px;
  width: 20px;
  color: $elv-color-mediumgray;
}

.account-image {
  $image-size: 100px;
  @include elv-cropped-image($image-size, $image-size, 50%, $image-size, $image-size);
}

.account-info {
  flex-grow: 1;
  padding: $elv-spacing-xs $elv-spacing-s;
}

.account-actions {
  display: flex;
  flex-direction: column;
  //justify-content: space-around;

  button {
    margin-bottom: $elv-spacing-xs;
  }
}

