@import "~elv-components-js/src/stylesheets/mixins";
@import "~elv-components-js/src/stylesheets/variables/colors";
@import "~elv-components-js/src/stylesheets/variables/spacing";

.accounts {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.account {
  border: 1px solid $elv-color-lightgray;
  display: flex;
  padding: $elv-spacing-xs $elv-spacing-s;
  position: relative;
  width: 800px;

  &:not(.current-account) {
    background: $elv-color-lightestgray;
  }

  &:not(:last-child) {
    border-bottom: 0;
  }

  &.current-account {
    border: 1px solid $elv-color-mediumgray;
    box-shadow: 1px 2px 2px $elv-color-mediumgray;
    z-index: 10;
  }
}

.account-lock-icon {
  color: $elv-color-mediumgray;
  height: 20px;
  left: $elv-spacing-xxs;
  position: absolute;
  top: $elv-spacing-xs;
  width: 20px;
}

.account-image {
  $image-size: 100px;
  @include elv-cropped-image($image-size, $image-size, 50%, $image-size, $image-size);
}

.account-info {
  flex-grow: 1;
  padding: $elv-spacing-xs $elv-spacing-s;

  .account-name {
    margin-bottom: $elv-spacing-xs;
  }

  .account-address {
    font-size: 14px;
    margin-bottom: $elv-spacing-xxs;
  }

  .account-balance {
    font-size: 13px;
  }
}

.account-actions {
  display: flex;
  flex-direction: column;
  //justify-content: space-around;

  button {
    margin-bottom: $elv-spacing-xs;
  }
}

