@import "~elv-components-js/src/stylesheets/styles";

.accounts {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.account {
  border: 1px solid $elv-color-lightgray;
  display: flex;
  min-height: 8rem;
  padding: $elv-spacing-xs $elv-spacing-m;
  position: relative;
  width: 525px;

  &:not(.current-account) {
    color: $elv-color-text-light;
  }

  &:not(:last-child) {
    border-bottom: 0;
  }

  &.current-account {
    border: 0;
    border-radius: 5px;
    box-shadow: $elv-color-mediumblue 0 0 6px;
    z-index: 10;
  }

  .account-lock-icon {
    color: $elv-color-mediumgray;
    height: 20px;
    left: $elv-spacing-xxs;
    position: absolute;
    top: $elv-spacing-xs;
    width: 20px;
  }

  .account-unlocked-icon {
    color: $elv-color-darkergray;
  }

  .account-remove-icon {
    height: 20px;
    position: absolute;
    right: $elv-spacing-xxs;
    top: $elv-spacing-xs;
    width: 20px;

    svg {
      stroke: $elv-color-lightgray;
    }

    &:hover {
      svg {
        stroke: $elv-color-mediumred;
      }
    }
  }
}

.account-image {
  $image-size: 110px;
  @include elv-cropped-image($image-size, $image-size, 50%, $image-size, $image-size);
  align-items: center;
  display: flex;
  padding: $elv-spacing-xs;
}

.account-main {
  display: flex;
  flex-direction: column;
  padding: $elv-spacing-xs $elv-spacing-m;
}

.account-info {
  flex-grow: 1;
  margin-bottom: $elv-spacing-xs;

  .account-name {
    font-weight: 600;
    margin-bottom: $elv-spacing-xs;
  }

  .account-address {
    font-size: $elv-font-s;
    font-weight: 200;
    margin-bottom: $elv-spacing-xxs;
  }
}

.account-actions {
  display: flex;
  height: 1.8rem;
  margin-bottom: 5px;
  max-height: 1.8rem;
}

.account-balance {
  font-weight: 300;
}

.add-account {
  margin: $elv-spacing-m 0 $elv-spacing-xl;
}

.hint {
  color: $elv-color-text-light;
  font-size: $elv-font-s;
}

.input-with-hint {
  .hint {
    padding-bottom: $elv-spacing-xxs;
  }

  input {
    width: 100%;
  }
}

.account-form {
  .mnemonic-container {
    align-items: center;
    display: flex;
    padding-right: 50px;
    position: relative;
  }

  .mnemonic-download {
    position: absolute;
    right: 20px;

    * {
      stroke: $elv-color-mediumblue;
    }
  }

  .mnemonic-saved {
    * {
      * {
        cursor: pointer;
      }
    }
  }
}
