@import "~elv-components-js/src/stylesheets/styles";

.apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.app-selection {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: $elv-spacing-xs;
  width: 250px;

  &:hover {
    background: $elv-color-lightergray;
    border: 1px solid $elv-color-lightgray;
  }

  .app-logo {
    $image-size: 125px;
    @include elv-cropped-image($image-size, $image-size, 0, $image-size, $image-size);

    .-elv-cropped-icon {
      &::after {
        box-shadow: none;
      }

      svg {
        &.-elv-icon {
          border-radius: 50%;
          box-shadow: 0 0 12px -5px $elv-color-darkgray inset;
          padding: $elv-spacing-xs;
          stroke: $elv-color-lightblue;
          stroke-opacity: 0.7;
          stroke-width: 0.5px;
        }
      }
    }
  }

  h4 {
    font-size: $elv-font-xl;
    font-weight: 300;
    margin: $elv-spacing-m 0;
    text-align: center;
  }
}

.app-frame {
  border: 0;
  flex: 1 1 auto;
  width: 100%;
}
