@import "~elv-components-js/src/stylesheets/styles";

.apps {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.apps-box {
  border: 1px solid $elv-color-lightgray;
  border-radius: 25px;
  max-width: 90vw;
  padding: 30px 20px;
  width: max-content;

  h2 {
    color: $elv-color-darkgray;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }

  &__apps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

.app-selection {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  margin: $elv-spacing-xs;
  opacity: 0.8;
  transition: opacity 0.25s ease;
  width: 175px;

  .app-logo {
    height: auto;
    margin: 0 auto;
    width: 70%;
  }

  h4 {
    font-size: $elv-font-xl;
    font-weight: 400;
    margin: $elv-spacing-m 0;
    text-align: center;
  }

  &:hover {
    opacity: 1;
  }
}

.app-frame {
  border: 0;
  height: calc(100vh - 40px);
  width: 100%;
}
