@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/styles";

.app-version {
  display: none;
}

html,
body,
.app,
.router-container,
.page-error {
  display: flex;
  width: 100%;
}

.router-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  form {
    width: 700px;
  }
}

.page-error {
  align-items: flex-start;
  display: flex;
  justify-content: center;

  .page-error-container {
    align-items: center;
    border: 1px solid $elv-color-mediumgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $elv-spacing-xxl;

    padding: $elv-spacing-l;
  }

  h1 {
    font-size: $elv-font-l;
    font-weight: 600;
    padding: $elv-spacing-xxs 0;
  }

  button {
    margin-top: $elv-spacing-l;
  }
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.actions-container {
  display: flex;
  margin: $elv-spacing-s 0;

  *:not(:last-child) {
    margin-right: $elv-spacing-xs;
  }
}

.flex-centered {
  justify-content: center;
}

// sass-lint:disable no-important
.hidden {
  display: none !important;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.indented {
  padding-left: $elv-spacing-s;
}

.labelled-field {
  label {
    display: inline-block;
    font-style: italic;
    width: 200px;
  }
}

.small-text {
  font-size: $elv-font-s;
}

select {
  @include elv-select;

  // Increase specificity
  &.recipient-select {
    &.recipient-select {
      font-size: $elv-font-m;
    }
  }
}

// Hide alt image text
img {
  &.-elv-icon {
    color: transparent;
  }
}

.-elv-cropped-icon {
  @include elv-no-select;

  position: relative;

  &::after {
    border-radius: 50%;
    box-shadow: 0 0 12px -5px $elv-color-darkgray inset;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  svg {
    stroke: $elv-color-lightgray;
  }
}
