html,
body,
.page-container {
  font-family: Lato, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

textarea {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin: $spacing-xs 0;

  &.subheader {
    color: $color-text-light;
    font-size: 14px;
  }
}

a {
  text-decoration: none;

  &,
  &:visited {
    color: $color-darkgray;
  }

  &.link {
    display: block;
  }

  &.image-link {
    display: flex;
  }
}

input {
  &[type="checkbox"] {
    cursor: pointer;
  }
}

.main-content-container {
  align-items: center;
  height: max-content;
  padding: $spacing-ml 0 $spacing-m;
}

pre {
  background: $color-lightergray;
  border: 1px solid $color-gray;
  margin: 0;
  overflow: auto;

  padding: 10px;
  white-space: pre-wrap;
}


.page-header-container {
  @include centered;
  flex-direction: column;

  .page-header {
    font-size: 20px;
    margin: $spacing-xxs 0;
  }

  .page-subheader {
    color: $color-text-light;
    font-size: 12px;
  }
}

.small-text {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.indented {
  margin-left: $spacing-s;
}

.full-width {
  width: 100%;
}

.info-section {
  margin: $spacing-ml 0;
}

.labelled-input,
.labelled-field {
  display: flex;
  margin: $spacing-xs 0;

  label {
    width: 120px;
  }

  pre {
    background-color: $color-lightergray;
    border: 0;
    margin: 0 $spacing-m;
  }
}

table {
  border-collapse: collapse;
  margin: $spacing-s 0;
  padding: 0 $spacing-s;
  width: 100%;

  th {
    font-size: 16px;
    font-weight: normal;
    text-align: left;

    &.header-wide {
      width: 50%;
    }
  }

  tr {
    border: 1px solid $color-lightgray;
  }

  th,
  td {
    padding: $spacing-xs;

    &.centered {
      text-align: center;
    }
  }
}

.icon {
  display: block;
  height: 25px;
  padding: 10px;
  width: 25px;

  &.dark {
    color: $color-darkergray;
  }
}

.icon-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;

  .icon {
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
  }

  &:hover {
    .icon {
      opacity: 0.8;
    }
  }

  &:active {
    .icon {
      opacity: 0.9;
    }
  }
}
