@import "~elv-components-js/src/stylesheets/styles";

header {
  align-items: center;
  box-shadow: 2px 1px 2px 0 $elv-color-lightgray;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 40px;
  height: 40px;
  max-height: 40px;
  position: relative;
  width: 100%;

  &.hidden-header {
    height: 0;
    visibility: hidden;

    .toggle-header-button {
      visibility: visible;
    }
  }

  .toggle-header-button {
    border-radius: 5px;
    display: flex;
    height: 25px;
    justify-content: center;
    left: calc(50% - 25px);
    position: absolute;
    top: -2px;
    visibility: hidden;
    width: 50px;

    &:hover {
      background: $elv-color-lightergray;
    }

    svg {
      color: transparent;
      fill: $elv-color-darkergray;
    }
  }
}

.toggle-header-section {
  cursor: pointer;
  height: 100%;
}

.logo {
  display: flex;
  height: 100%;

  .-elv-icon-wrapper {
    display: flex;
    height: 100%;
    padding: 10px $elv-spacing-s;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.account-info-container {
  height: 100%;
  max-width: 16rem;
  min-width: 16rem;
  position: relative;
}

.header-account,
.accounts-button-container {
  @include elv-no-select;
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  padding: 0 $elv-spacing-m 0 $elv-spacing-s;
  position: relative;
  width: 16rem;
  z-index: 1000;

  &:hover {
    background: $elv-color-lightestgray;
  }

  .token-icon {
    height: 15px;
    margin-right: 1px;
    width: auto;
  }

  .account-lock-icon {
    border-radius: 25%;
    display: flex;
    height: $elv-spacing-m;
    padding: $elv-spacing-xxs;

    svg {
      stroke: $elv-color-gray;
    }

    &.account-unlocked-icon {
      &:hover {
        background: $elv-color-mediumblue;

        svg {
          stroke: $elv-color-white;
        }
      }

      svg {
        stroke: $elv-color-mediumblue;
      }
    }
  }
}

.header-account {
  width: 100%;

  &:focus {
    background: $elv-color-lightergray;
    outline: none;
  }
}

.header-profile-image {
  $image-size: 30px;
  @include elv-cropped-image($image-size, $image-size, 50%, $image-size, $image-size);
  background: $elv-color-bg-white;
  border-radius: 100%;
  margin-right: $elv-spacing-xs;
}

.header-account-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-account-name {
  @include elv-ellipsis;
  align-items: center;
  display: block;
  font-size: $elv-font-m;
  max-width: 300px;
  width: 90%;
}

.header-account-name-address {
  @include elv-ellipsis;
  display: block;
  font-size: $elv-font-xs;
  max-width: 9rem;
}

.header-account-balance {
  display: flex;
  flex-basis: 100%;

  span {
    font-size: $elv-font-s;
    font-weight: 300;
  }
}

.header-account-selection {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 40px;
  width: 16rem;
}

.header-accounts {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  &:last-child {
    border-bottom: 0;
  }
}

.account-selection,
.accounts-button-container {
  background: $elv-color-white;
  border: 1px solid $elv-color-lightgray;
  border-bottom: 0;
  border-right: 0;
  justify-content: flex-start;
  max-height: 3.5rem;
  min-height: 3.5rem;
  position: relative;
}

.accounts-button-container {
  border-bottom: 1px solid $elv-color-lightgray;
  max-height: 2.5rem;
  min-height: 2.5rem;
  text-align: center;

  a {
    color: $elv-color-text-lighter;
    font-size: $elv-font-m;
    font-weight: 500;
    width: 100%;
  }
}
