header {
  align-items: center;
  background-color: var(--background-primary);
  box-shadow: 2px 1px 5px  rgb(0 0 0 / 0.15);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 40px;
  height: 40px;
  max-height: 40px;
  padding: 0 10px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.header--dark {
  background-color: #131315;
  border-bottom: 1px solid #000;
  box-shadow: none;

  * {
    color: #fff;
  }

  .-elv-token-icon {
    filter: invert(100%);
  }

  .logo {
    img {
      filter: invert(100%);
    }
  }
}

.header-menu {
  align-items: center;
  display: flex;
  gap: 5px;
  height: 100%;
}

.header-apps-link {
  color: var(--text-secondary);
  height: 100%;
  padding: 8px;
  transition: color 0.25s ease;
  width: max-content;

  &:hover {
    color: var(--accent);
  }

  svg {
    height: 100%;
    width: auto;
  }
}

.logo {
  display: flex;
  height: 100%;

  img {
    height: 100%;
    padding: 10px;
    width: auto;
  }
}
