@import "~elv-components-js/src/stylesheets/variables/spacing";
@import "~elv-components-js/src/stylesheets/variables/colors";
@import "~elv-components-js/src/stylesheets/mixins";

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  align-items: center;
  box-shadow: 2px 1px 2px 0 $elv-color-lightgray;

  &.hidden-header {
    height: 0;
    visibility: hidden;

    .toggle-header-button {
      visibility: visible;
    }
  }

  .toggle-header-button {
    visibility: hidden;
    position: absolute;
    left: calc(50% - 25px);
    top: 5px;
    height: 15px;
    width: 50px;

    &:hover {
      background: $elv-color-lightergray;
    }
  }
}

.toggle-header-section {
  flex-grow: 1;
  cursor: pointer;
  height: 100%;
}

.logo {
  display: block;
  height: 100%;
  width: 150px;

  .-elv-icon-wrapper {
    display: flex;
    height: 100%;
    padding: 10px $elv-spacing-s;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.header-account {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 250px;
  max-width: 350px;
  padding: 0 $elv-spacing-s;
}

.profile-image {
  $image-size: 35px;
  @include elv-cropped-image($image-size, $image-size, 50%, $image-size, $image-size);
}

.header-account-name,
.header-account-balance {
  @include elv-ellipsis;
  max-width: 250px;
}

.header-account-balance {
  font-size: 11px;
}
