@import "~elv-components-js/src/stylesheets/styles";

.login-modal {
  .account-info-container {
    height: 40px;
    width: 100%;
  }

  .account-selection {
    border-right: 1px solid $elv-color-lightgray;
  }

  .-elv-modal-content {
    overflow-y: unset;
  }

  form {
    width: 500px;
  }
}
