@import "~elv-components-js/src/stylesheets/mixins";
@import "~elv-components-js/src/stylesheets/variables/spacing";
@import "~elv-components-js/src/stylesheets/variables/colors";

.nav-container {
  @include elv-no-select;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $elv-spacing-m 0 $elv-spacing-s;

  &.locked {
    nav {
      width: 300px;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 800px;

  a {
    color: $elv-color-lightgray;
    flex-grow: 1;
    text-align: center;
    padding: $elv-spacing-s;

    &.active {
      border-top: 2px solid $elv-color-lightgray;
      border-bottom: 0;
    }

    &:hover {
      background: $elv-color-lightergray;
    }

    &:active {
      background: $elv-color-lightgray;
    }
  }
}
