@import "~elv-components-js/src/stylesheets/styles";
.nav-container {
  @include elv-no-select;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  padding: $elv-spacing-l 0;
  width: 100%;

  &__tabs {
    max-width: MIN(800px, 90vw);
    width: 100%;
  }

  .warning {
    font-weight: bold;
    margin-top: $elv-spacing-s;
  }
}


.side-nav {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

  &__tabs {
    left: 0;
    position: absolute;
  }

  @media screen and (min-width: 1201px) {
    &__tabs {
      height: 150px;
    }
  }

  @media screen and (max-width: 1200px) {
    &__tabs {
      margin: 0 auto $elv-spacing-l;
      max-width: MIN(400px, 90vw);
      position: relative;
    }
  }
}

.mantine-Tabs-tabsList {
  border-bottom: 0;
}
