@import "~elv-components-js/src/stylesheets/styles";

.site-nav-container {
  @include elv-no-select;
  display: flex;
  font-size: $elv-font-s;
  height: 2rem;
  justify-content: flex-end;

  nav {
    display: flex;
    height: 2rem;
    min-width: 25rem;
    width: 25vw;

    a {
      border-radius: 0 0 1em 1em;
      color: $elv-color-text-lighter;
      flex: 1 1 auto;

      &.active {
        background-color: $elv-color-lightestgray;
        color: $elv-color-text-light;
      }
    }
  }
}

.nav-container {
  @include elv-no-select;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin: $elv-spacing-s 0 $elv-spacing-l;
  width: 100%;

  &.locked {
    nav {
      width: 300px;
    }
  }

  .warning {
    font-weight: bold;
    margin-bottom: $elv-spacing-s;
  }

  a {
    &.active {
      border-top: 2px solid $elv-color-lightgray;
    }
  }
}

nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  width: 800px;

  a {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &:hover {
      background: $elv-color-lightergray;
    }

    &:active {
      background: $elv-color-lightgray;
    }
  }
}
