// sass-lint:disable class-name-format no-misspelled-properties

.rates {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin: 50px auto 0;
  max-width: 1400px;
  padding: 0 15px 100px;
  width: 100%;

  &__headers {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__header {
    font-size: 32px;
    font-weight: 500;
  }

  &__updated {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin: 0 0 20px 20px;
  }

  &__subtitle {
    font-size: 16px;
    letter-spacing: 0.03em;
    margin: 0 0 20px 20px;
  }
}

.rate-table {
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 12px;
  overflow: hidden;

  &__row {
    display: grid;
    min-height: 45px;

    &--header {
      background: var(--background-secondary);
      font-weight: 500;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border);
    }

    &--subheader {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 2fr 1fr;

    & + .rate-table__body {
      border-top: 1px solid var(--border);
    }
  }

  &__cell,
  &__shared-cell {
    align-items: center;
    display: flex;
    padding: 10px 20px;
  }

  &__shared-cell {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;

    &--description {
      border-left: 1px solid var(--border);
    }

    &--name {
      border-right: 1px solid var(--border);
    }
  }

  &__checkmark {
    height: 20px;
    margin-left: 10px;
    width: 20px;
  }
}

.offerings-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  padding: 50px 15px;
  width: 100%;

  &-headers {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
      font-weight: normal;
    }

    h2 {
      font-size: 14px;
    }
  }
}

.note,
.offerings,
.service-container {
  flex-grow: 1;
  min-width: 900px;
  width: 100%;
}

.offerings {
  margin-bottom: 15px;
}

.offering-row {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr;
  min-height: 40px;

  div {
    padding: 7px 15px;
  }

  &.offering-row-header {
    align-items: flex-end;
    font-size: 28px;
    min-height: 100px;
    padding-bottom: 15px;
  }

  &:not(.offering-row-header) {
    border: 1px solid var(--border);
    border-bottom: 0;

    &:not(:first-child) {
      & + .offering-row-header {
        border-top: 1px solid var(--border);
      }
    }

    &:not(.offering-row-section-header) {
      .offering-check,
      .offering-nocheck {
        border-left: 1px solid var(--border);
        height: 100%;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid var(--border);
  }

  &.offering-row-section-header {
    align-items: end;
    align-self: baseline;
    border: 0;
    border-top: 1px solid var(--border);
    font-size: 20px;
    grid-template-columns: 1fr 0 0 0;
    height: 50px;
    padding-bottom: 7px;

    .offering-row-header + & {
      border-top: 0;
      height: 30px;
      padding-top: 0;
    }
  }

  &.offering-row-odd {
    background-color: var(--background-secondary);
  }

  .offering-detail {
    font-weight: normal;
  }

  .offering-check {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .offering-check-icon {
    height: 28px;
    stroke: var(--text-secondary);
    width: 28px;
  }

  .offerings-cell-left {
    font-size: 20px;
    text-align: left;
  }

  .offerings-cell-centered {
    text-align: center;
  }

  .offerings-cell-bold {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
  }
}

.note {
  color: var(--text-tertiary);
  font-size: 12px;
  margin: 0 0 7px 15px;
  text-align: left;
}

.service-container {
  margin-top: 50px;
  padding-top: 30px;

  p {
    font-size: 16px;
    margin: 15px 15px 30px 0;
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
  }

  .offerings {
    .offering-row {
      grid-template-columns: 3fr 1fr 1fr 1fr;

      &.offering-row-header {
        font-size: 16px;
        min-height: 30px;
      }
    }

    .no-border {
      border: 0;
    }

    &.service-offerings {
      .offering-row {
        grid-template-columns: 1fr;
      }
    }
  }
}

.offerings-legacy {
  .offering-row {
    grid-template-columns: 3fr 1fr 1fr 1fr;

    &.offering-row-header {
      font-size: 14px;
      height: 20px;
      min-height: 20px;
    }
  }
}
