@import "~elv-components-js/src/stylesheets/styles";

.offerings-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: $elv-font-m;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  padding: $elv-spacing-xl $elv-spacing-s;
  width: 100%;

  &-headers {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
      font-weight: normal;
    }

    h2 {
      font-size: $elv-font-m;
    }
  }
}

.note,
.offerings,
.service-container {
  flex-grow: 1;
  min-width: 900px;
  width: 100%;
}

.offerings {
  margin-bottom: $elv-spacing-s;
}

.offering-row {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr;
  min-height: $elv-spacing-ml;

  div {
    padding: $elv-spacing-xs $elv-spacing-s;
  }

  &.offering-row-header {
    align-items: flex-end;
    font-size: $elv-font-xxl;
    min-height: $elv-spacing-xxl;
    padding-bottom: $elv-spacing-s;
    text-align: center;

    &:first-child {
      font-size: $elv-font-l;
    }
  }

  &:not(.offering-row-header) {
    border: 1px solid $elv-color-lightgray;
    border-bottom: 0;

    &:not(:first-child) {
      & + .offering-row-header {
        border-top: 1px solid $elv-color-lightgray;
      }
    }

    &:not(.offering-row-section-header) {
      .offering-check,
      .offering-nocheck {
        border-left: 1px solid $elv-color-lightgray;
        height: 100%;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid $elv-color-lightgray;
  }

  &.offering-row-section-header {
    align-items: end;
    align-self: baseline;
    border: 0;
    border-top: 1px solid $elv-color-lightgray;
    font-size: $elv-font-xl;
    grid-template-columns: 1fr 0 0 0;
    height: $elv-spacing-xl;
    padding-bottom: $elv-spacing-xs;

    .offering-row-header + & {
      border-top: 0;
      height: $elv-spacing-l;
      padding-top: 0;
    }
  }

  &.offering-row-odd {
    background-color: $elv-color-lightestgray;
  }

  .offering-detail {
    font-weight: normal;
  }

  .offering-check {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .offering-check-icon {
    height: $elv-font-xxl;
    stroke: $elv-color-mediumblue;
    width: $elv-font-xxl;
  }

  .offering-cell-left {
    font-size: $elv-font-xl;
    text-align: left;
  }
}

.note {
  color: $elv-color-text-light;
  font-size: $elv-font-xs;
  margin: 0 0 $elv-spacing-xs $elv-spacing-s;
  text-align: left;
}

.service-container {
  margin-top: $elv-spacing-xl;
  padding-top: $elv-spacing-l;

  p {
    font-size: $elv-font-l;
    margin: $elv-spacing-s $elv-spacing-s $elv-spacing-l 0;
  }

  h1 {
    font-size: $elv-font-xxl;
    font-weight: 600;
  }

  .offerings {
    .offering-row {
      grid-template-columns: 3fr 1fr 1fr 1fr;

      &.offering-row-header {
        font-size: $elv-font-l;
        min-height: $elv-spacing-l;
      }
    }

    .no-border {
      border: 0;
    }

    &.service-offerings {
      .offering-row {
        grid-template-columns: 1fr;
      }
    }
  }
}

.offerings-legacy {
  .offering-row {
    grid-template-columns: 3fr 1fr 1fr 1fr;

    &.offering-row-header {
      font-size: $elv-font-s;
      height: $elv-spacing-m;
      min-height: $elv-spacing-m;
    }
  }
}
