@import "~elv-components-js/src/stylesheets/styles";

.offerings-container {
  display: flex;
  flex-grow: 1;
  font-size: $elv-font-m;
  justify-content: center;
  padding: $elv-spacing-xl 0;
  width: 100%;
}

.offerings {
  flex-grow: 1;
  max-width: 1200px;
  min-width: 900px;
  width: 70%;
}

.offering-row {
  align-items: center;
  display: grid;
  font-weight: 600;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  height: $elv-spacing-ml;
  padding-left: $elv-spacing-s;

  &.offering-row-header {
    font-size: $elv-font-s;
    height: $elv-spacing-m;
    text-align: center;

    &:first-child {
      font-size: $elv-font-l;
    }
  }

  &:not(.offering-row-header) {
    border: 1px solid $elv-color-lightgray;
    border-bottom: 0;

    &:not(.offering-row-section-header) {
      .offering-check,
      .offering-nocheck {
        border-left: 1px solid $elv-color-lightgray;
        height: 100%;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid $elv-color-lightgray;
  }

  &.offering-row-section-header {
    align-items: end;
    align-self: baseline;
    border: 0;
    border-top: 1px solid $elv-color-lightgray;
    font-size: $elv-font-xl;
    grid-template-columns: 1fr 0 0 0;
    height: $elv-spacing-xl;
    padding-bottom: $elv-spacing-xs;

    .offering-row-header + & {
      border-top: 0;
      height: $elv-spacing-l;
      padding-top: 0;
    }
  }

  &.offering-row-odd {
    background-color: $elv-color-lightestgray;
  }

  .offering-detail {
    font-weight: normal;
  }

  .offering-check {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .offering-check-icon {
    height: $elv-font-xxl;
    stroke: $elv-color-mediumblue;
    width: $elv-font-xxl;
  }
}
