.onboard {
  margin: 15px auto 25px;
}

.onboard-form {
  .mnemonic-container {
    align-items: center;
    display: flex;
    padding-right: 50px;
    position: relative;
  }

  .mnemonic-edit,
  .mnemonic-download {
    position: absolute;
    right: 20px;

    * {
      stroke: var(--accent);
    }
  }

  .mnemonic-saved {
    * {
      * {
        cursor: pointer;
      }
    }
  }
}
