@import "~elv-components-js/src/stylesheets/styles";

.profile-image-container {
  position: relative;

  .update-indicator {
    left: -16px;
    position: absolute;
    top: -1px;
    z-index: 9999;

    .animated-icon {
      height: 100%;
      width: 100%;

      div {
        border-width: 8px;
        color: $elv-color-lightblue;
        height: 202px;
        opacity: 0.6;
        width: 202px;
      }
    }
  }
}

.profile {
  border: 1px solid $elv-color-lightgray;
  margin-bottom: 50px;
  position: relative;
  width: 800px;

  .traversable-json {
    overflow-x: auto;

    .json-entry {
      overflow: initial;
    }
  }

  .page-subheader {
    display: flex;
    font-size: $elv-font-m;
    font-weight: 200;
    justify-content: center;
    padding: $elv-spacing-xxs 0;
  }

  .account-balance {
    font-size: $elv-font-m;

    img {
      height: 20px;
      margin-right: 3px;
      width: auto;
    }
  }

  .profile-image-container-container {
    display: flex;
    justify-content: center;
  }

  h3 {
    font-size: $elv-font-xxl;
    margin: 0;
  }

  h4,
  h5 {
    margin: $elv-spacing-m 0;
  }

  .error-message {
    align-items: center;
    background-color: $elv-color-mediumred;
    color: $elv-color-white;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-bottom: $elv-spacing-xs;
    position: relative;

    &:empty {
      visibility: hidden;
    }

    .clear-button {
      height: 20px;
      position: absolute;
      right: 5px;

      i {
        color: $elv-color-white;
      }
    }
  }

  .profile-info {
    padding: 0 $elv-spacing-m;
  }

  .profile-image {
    $image-size: 200px;
    @include elv-cropped-image($image-size, $image-size, 50%, $image-size, $image-size);
  }

  .user-info {
    font-size: $elv-font-m;
    text-align: center;
  }

  .modifiable-field {
    align-items: center;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: $elv-spacing-xxs;

    &:not(.modifying) {
      cursor: pointer;

      &:hover {
        background: $elv-color-lightestgray;
      }
    }

    input {
      font-size: $elv-font-l;
      height: $elv-spacing-l;
      padding-left: $elv-spacing-xs;
      width: 250px;
    }

    .modifiable-field-input {
      align-items: center;
      display: flex;
      position: relative;
      width: 250px;

      .cancel-button {
        height: 20px;
        position: absolute;
        right: 5px;
      }
    }
  }

  .private-key-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: $elv-spacing-xs 0;

    button {
      height: 25px;
      margin-right: $elv-spacing-xs;
      width: 25px;
    }
  }

  .private-key {
    display: flex;
    font-size: $elv-font-m;
    font-style: italic;
    opacity: 0;
    overflow: hidden;
    transition: width 0.75s, opacity 1.25s;
    width: 0;

    &.visible {
      opacity: 1;
      width: 500px;
    }
  }

  .info-section {
    margin-bottom: 50px;

    h4 {
      border-bottom: 1px solid $elv-color-lightgray;
      font-size: $elv-font-xl;
      font-weight: 300;
      padding: $elv-spacing-xs 0;
    }
  }

  .application-permissions {
    width: 25rem;
  }

  .application-permission {
    align-items: center;
    border-radius: 3px;
    display: flex;
    padding: $elv-spacing-xs;

    &:hover {
      background-color: $elv-color-lightgray;
    }

    label {
      @include elv-ellipsis;
      width: 25rem;
    }

    button {
      height: 20px;
      width: 20px;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    font-weight: normal;
    padding: $elv-spacing-xs;
    text-align: center;
  }

  tr {
    border: 1px solid $elv-color-lightgray;
    height: 20px;
  }

  tbody {
    font-size: $elv-font-m;
  }
}


