.tenant-invite-modal {
  &__url-container {
    cursor: pointer;
    padding-right: 40px;
    position: relative;
  }

  &__url-copy {
    position: absolute;
    right: 5px;
    top: 5px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &__url {
    white-space: pre-wrap;
    word-break: break-all;
  }
}
