.tenant-info {
  &__edit {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  @media screen and (width <= 850px) {
    padding-right: 1.5rem;

    &__group {
      flex-direction: column;
    }

    &__image {
      margin: 0 auto;
    }

    &__title {
      text-align: center;
    }
  }
}

.tenant-invite-modal {
  &__url-container {
    cursor: pointer;
    position: relative;
  }

  &__url-copy {
    position: absolute;
    right: 5px;
    top: 5px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &__url {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.tenant-invite {
  &__invites {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
  }
}

.invite {
  max-width: 100%;
  position: relative;
  width: 600px;

  &__image {
    $image-size: 110px;

    @include elv-cropped-image($image-size, $image-size, 50%, $image-size, $image-size);

    align-items: center;
    display: flex;
    padding: 5px;
  }

  &__time {
    bottom: 10px;
    font-size: 9px;
    position: absolute;
    right: 10px;
  }

  &__indicator {
    color: var(--elv-color-mediumgray);
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  @media screen and (width <= 850px) {
    width: min(350px, 90vw);

    &__address {
      max-width: 200px;
    }

    &__time {
      margin-top: 10px;
      position: unset;
    }
  }
}
