@import "~elv-components-js/src/stylesheets/styles";

.terms-document-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: $elv-spacing-l 0 0;

  h1 {
    color: $elv-color-text-dark;
    font-size: $elv-font-xl;
    font-weight: 600;
    padding-bottom: $elv-spacing-m;
  }
}

.terms-document {
  border: 0;
  flex-grow: 1;
  outline: 0;
  width: 900px;
}
